/autom4te.cache/
/config/
/config.status
/config.log
/config.h
/aclocal.m4
/config.h.in
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
configure.scan
Makefile
Makefile.in
m4
libtool
app.info
coverage_report
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda

